@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

body {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: blue;
	font-family: "Roboto";
	font-style: normal;
}

.page {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.button {
	width: 200px;
	height: 60px;

	font-weight: 700;
	font-size: 20px;
	line-height: 23px;
	display: flex;
	align-items: center;
	justify-content: center;

	color: #ffffff;
	background: #27ae60;
	border-radius: 8px;
	cursor: pointer;
}

.word {
	font-family: "Noto Sans";
	font-style: normal;
	font-weight: 700;
	font-size: 50px;
	line-height: 68px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;

	color: #000000;
}

.image {
	max-width: 400px;
	max-height: 470px;
	height: 400px;
	width: 470px;
	background-color: yellow;
}

.game {
	display: flex;
	justify-content: space-between;

	max-width: 1050px;
	width: 100%;
}

.letters-content {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;

	max-width: 690px;
	width: 100vw;
}

.content {
	max-width: 500px;
	width: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;

	box-sizing: border-box;
	padding: 40px 0;
}
